.button-menu {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #000000;
  transition: fill $duration $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-burger {
  display: none;
}

.menu-container {
  background-color: $main-bg-color;
  text-align: center;

  @media (max-width: $tablet - 1) {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;

    &.is-open {
      display: block;
    }
  }

  @include for-size(tablet) {
    @include flexbox(space-between, center);
  }
}
