// .container {
//   margin-left: auto;
//   margin-right: auto;
//   // width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;

//   @include for-size(mobile) {
//     width: 480px;
//   }

//   @include for-size(tablet) {
//     width: 768px;
//   }

//   @include for-size(desktop) {
//     width: 1280px;
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;

  @include for-size(mobile) {
    width: $mobile - 18px;
  }

  @include for-size(tablet) {
    width: $tablet - 18px;
  }

  @include for-size(desktop) {
    width: $desktop - 18px;
  }
}
