/* подчеркивание текущей страницы */
.site-nav .current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav .current:hover::before {
  display: block;
}

// навигация в футере

.footer-address .adres {
  color: $main-title-text-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adres-nav .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.adres-nav .item {
  margin-top: 9px;
}
